@font-face {
	font-family: Open Sans;
	src:url(../fonts/OpenSans-Regular.ttf);
	font-weight: 400;
	font-style: normal;
}

@font-face {
	font-family: Open Sans;
	src: url(../fonts/OpenSans-Bold.ttf);
	font-weight: 700;
	font-style: bold;
}

@media (min-width: 1201px) {

	.popup {		
		font-size: 13px;
	}

	.popup-window {
		padding: 46px 30px 54px 30px;
		left: calc(50vw - 195px);
		top: calc(50vh - 295px);
		max-width: 390px;
		max-height: 590px;
	}

	.popup-x {
		width: 20px;
		top: -30px;
		right: 0;	
	}

	.popup-header {
		font-size: 20px;
		line-height: 29px;
		margin: 0 0 24px 0;
	}

	.popup-header::after {	
		margin-top: 8px;		
		height: 3px;
		width: 66px;
	}

	.answer-select {
		margin-top: 8px;
		padding-left: 20px;
		min-width: 330px;
		height: 48px;
		background-size: 8px 16px;
	}

	.radio-text::before {
		width: 16px;
		height: 16px;
		background-size: 16px;
		margin-right: 4px;
	}

	.popup-radio {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.popup-radio-buttons {
		margin-top: 6px;
	}

	.header {
		background-size: cover;
		padding-bottom: 96px;		
		background-image:url(../images/banner-bg.jpg);	
	}

	.header-logo {
		width: 179px;
		margin-top: 30px;
		z-index:5;
	}

	.header-nav-menu {
		margin-top: 37px;
	}

	.burger-menu {
		display: none;
	}

	.top-head {
		max-width: 1170px;
	}

	.page-description-container {		
		width: 687px;
		margin-top: 103px;
	}

	.page-description {
		font-size: 45px;		
		line-height: 75px;
	}
	

	.trends {		
		min-width: 1200px;
	}

	.trends-posts {
		flex-wrap: nowrap;
	}

	.trends-post {
		flex-basis: calc(25% - 4px);
	}

	.trends-post:nth-child(n+2) {
		margin-left: 4px;
	}

	.trends-post-container {		
		left: 18px;
		bottom: 16px;
		right: 22px;
		border: 3px solid #75643a;
		padding: 9.2166% 8.29%;	
	}

	.trends-post-title {
		font-size: 20px;
	}

	.trends-category {		
		margin-right: calc(20em/14);
	}

	.sections-header-title {
		font-size: 20px;
		margin-bottom: 28px;
		margin-top: 56px;
	}

	.content {
		width: 1200px;		
		padding:0 15px;			
		margin-top: 65px;
	}

	.posts {		
		width: 775px;
	}

	.post-image {
		width: 381px;
	}

	.post:nth-child(n+2) {
		margin-top: 60px;
	}

	.post-article {
		width: 397px;
		padding-left: 30px;
	}

	.post-title {
		font-size: 20px;
		line-height: 24px;
	}

	.sidebar-content:nth-child(n+2) {
		margin-top: 55px;
	}

	.socials-container {
		width: 1170px;
		padding-top: 29px;
		padding-bottom: 25px;
	}

	.shop-wrapper {
		max-width: 1200px;
		padding: 0 15px;
	}

	.shop-header-title {
		margin-bottom: 39px;
		margin-top: 60px;
		font-size: 20px;
		line-height: 29px;
	}

	.shop-card-title {		
		font-size: 20px;
	}

	.shop-card {
		padding: 50px 20px 25px;		
		top: -32px;
	}

	.shop-items {
		max-width: 346px;
	}
}

@media (min-width: 641px) and (max-width: 1200px) {

	.popup {
		font-size: 15px;
	}

	.popup-window {
		padding: 46px 30px 54px 30px;
		left: calc(50vw - 195px);
		top: calc(50vh - 275px);
		max-width: 390px;
		max-height: 596px;
	}

	.popup-x {
		width: 29px;
		top: -37px;
		right: 0;	
	}

	.popup-header {
		font-size: 18px;
		line-height: 29px;
		margin: 2px 0 26px 3px;
	}

	.popup-header::after {	
		margin-top: 6px;		
		height: 3px;
		width: 66px;
	}

	.answer-select {
		margin-top: 8px;
		padding-left: 20px;
		min-width: 330px;
		height: 48px;
		background-size: 8px 16px;
	}

	.radio-text::before {
		width: 24px;
		height: 24px;
		background-size: 24px;
		margin-right: 6px;
	}

	.popup-radio {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.popup-radio-buttons {
		margin-top: 10px;
	}

	.radio-button {
		margin-right: 30px;
	}

	.top-head {
		width: calc((698/768)*100%);
	}

	.header-logo {
		width: 159px;
		margin-top: 46px;
		z-index: 5;
	}

	.header {
		background-image:url(../images/banner-bg-tablet.jpg);	
		background-size: cover;
		padding-bottom: 86px;
	}
	
	.header-nav-menu {
		margin-top: 40px;
	}

	ul.nav-menu-list {
		display: none;
	}

	.burger-menu {
		position: relative;
		width: 23px;
		height: 19px;
		display: block;
		border: none;
		background-color: transparent;
		cursor: pointer;
	}

	.burger-open {		
		text-indent: -9999px;
	}

	.burger-menu span, .burger-menu::before, .burger-menu::after {
		position: absolute;
		height: 3px;
		width: 100%;
		background: #ffffff;
		margin: 0 auto;
		border-radius: 1px;
		left: 0;
	}

	.burger-menu::before, .burger-menu::after {
		content: "";
	}

	.burger-menu::before {		
		top: 1px;
	}

	.burger-menu::after {
		bottom: -1px;
	}

	.page-description-container {		
		width: 611px;
		margin-top: 86px;
	}

	.page-description {
		font-size: 40px;		
		line-height: 55px;
	}

	.sections-header-title {
		font-size: 18px;
		margin-bottom: 20px;
		margin-top: 40px;
	}
	
	.trends-post-title {
		font-size: 17px;
	}

	.trends {
		min-width: 641px;
		max-width: 1200px;
	}

	.trends-post-image {
		max-height: 246px;
	}

	.trends-post {
		flex-basis: calc(50% - 4px);
		margin-bottom: 3px;
	}

	.trends-post:nth-child(2n) {
		margin-left: 4px;
	}

	.trends-post-container {		
		left: 20px;
		bottom: 15px;
		right: 20px;
		border: 3px solid #75643a;		
		padding: 9.2166% 8.29%;	
	}

	.trends-category {
		margin-right: 20px;
	}

	.content {
		width: calc((698/768)*100%);
		margin-top: 50px;
	}

	.posts {
		width: calc((391/698)*100%);
	}

	.post {
		flex-direction: column;
	}

	.post-image {
		width: 100%;
	}

	.post:nth-child(n+2) {
		margin-top: 42px;
	}

	.post-article {
		border-bottom: 3px solid #eeeeee;
		padding-bottom: 7px;
	}

	.post-header {
		margin-top: 15px;
		margin-bottom: 32px;
	
	}

	.post-title {
		font-size: 17px;
		line-height: 22px;
	}

	.sidebar-content:nth-child(n+2) {
		margin-top: 55px;
	}

	.shop-header-title {
		margin-bottom: 39px;
		margin-top: 63px;
		font-size: 18px;
		line-height: 29px;
	}

	.shop-wrapper {
		flex-wrap: wrap;
		max-width: 698px;
	}

	.shop-card-title {		
		font-size: 17px;
	}

	.shop-card {
		padding: 46px 16px 24px 19px;
    	top: -40px;
	}

	.shop-items {
		max-width: 334px;
	}

	.socials-container {
		width: calc((698/768)*100%);
		padding-top: 29px;
		padding-bottom: 25px;
	}
}

@media (orientation: landscape) and (min-width: 641px) and (max-width: 1200px) {
	.trends-posts {
		flex-wrap: nowrap;
	}

	.trends-category {
		margin-right: 10px;
	}

	.trends-post-container {
		left: 5.18%;
		bottom: 3.88%;
		right: 5.18%;
		border: 3px solid #75643a;
		padding: 9% 7.6%;
	}
}

@media (orientation: portrait) and (min-width: 641px) and (max-width: 1200px) {
	.trends-posts {
		flex-wrap: wrap;
	}

	.trends-post-container {		
		left: 20px;
		bottom: 15px;
		right: 20px;
		border: 3px solid #75643a;
		padding: 30px 30px 30px;	
	}

	.post-header {
		margin-bottom: 15px; 
	}

}

@media (max-width: 640px) {
	
	.popup {
		font-size: 15px;
	}

	.popup-window {
		padding: 19px 26px 54px;
		left: calc(50vw - 165px);
		top: calc(50vh - 272px);
		max-width: calc((330/360)*100%);
		max-height: 546px;
	}

	.popup-x {
		width: 29px;
		top: -37px;
		right: 0;	
	}

	.popup-header {
		font-size: 16px;
		line-height: 29px;
		margin: 2px 0 26px 3px;
	}

	.popup-header::after {	
		margin-top: 6px;		
		height: 3px;
		width: 66px;
	}

	.answer-select {
		margin-top: 8px;
		padding-left: 20px;
		width: 100%;
		height: 48px;
		background-size: 8px 16px;
	}

	input.offer {
		width: 100%;
	}

	.radio-text::before {
		width: 24px;
		height: 24px;
		background-size: 24px;
		margin-right: 6px;
	}

	.popup-radio {
		margin-top: 30px;
		margin-bottom: 30px;
	}

	.popup-radio-buttons {
		margin-top: 10px;
	}

	.radio-button {
		margin-right: 30px;
	}

	.top-head {
		width: calc((330/360)*100%);
	}

	.header-logo {
		width: 89%;
		margin-top: 46px;
		margin-left: auto;
		margin-top: auto;
		z-index: 5;
	}

	.header {
		display: flex;
		flex-direction: column;
		padding: 0 calc((15/360)*100%);
		box-sizing: border-box;
		background-image:url(../images/banner-mobile.jpg);	
		background-size: cover;
		min-height: 639px;
	}
	
	.top-head {
		flex-direction: column-reverse;
		align-content: center;
	}

	.header-nav-menu {
		margin-top: 32px;
		margin-bottom: 175px;
		align-self: flex-end;
	}

	ul.nav-menu-list {
		display: none;
	}

	.burger-menu {
		position: relative;
		align-self: flex-end;
		width: 23px;
		height: 19px;
		display: block;
		border: none;
		background-color: transparent;
		cursor: pointer;
	}

	.burger-open {		
		text-indent: -9999px;
	}

	.burger-menu span, .burger-menu::before, .burger-menu::after {
		position: absolute;
		height: 3px;
		width: 100%;
		background: #ffffff;
		margin: 0 auto;
		border-radius: 1px;
		left: 29px;
	}

	.burger-menu::before, .burger-menu::after {
		content: "";
	}

	.burger-menu::before {		
		top: 1px;
	}

	.burger-menu::after {
		bottom: -1px;
	}

	.page-description-container {		
		width: calc((280/360)*100%);
		margin-top: 30px;
	}

	.page-description {
		font-size: 26px;		
		line-height: 36px;
	}

	.sections-header-title {
		font-size: 16px;
		margin-bottom: 22px;
		margin-top: 36px;
	}
	
	h3.trends-post-title, a.trends-post-title {
		font-size: 16px;
		line-height: 20px;
	}

	.trends {
		max-width: 640px;
	}

	.trends-posts {
		flex-wrap: wrap;
	}

	.trends-post-image {
		max-width: 100%;
		max-height: 231px;
	}

	.trends-post {
		flex-basis: 100%;
	}

	.trends-post:nth-child(n+2) {
		margin-top: 3px;
	}

	.trends-post-container {		
		left: calc((15/360)*100%);
		bottom: calc((14/230)*100%);
		right: calc((15/360)*100%);
		border: 3px solid #75643a;		
		padding: calc((30/360)*100%) calc((19/360)*100%);	
	}

	.trends-category {
		margin: 0 16px 0 0;
	}

	.content {
		width: 100%;
		margin-top: 44px;
		margin-bottom: 24px;
		padding: 0 calc((15/360)*100%);
		flex-direction: column;

	}
 
	aside.sidebar {
		width: 100%
	}

	h3.sidebar-header-title {
		font-size: 16px;
		margin-left: auto;
		margin-right: auto;
	}
	
	h3.sidebar-header-title::after {
		margin-top: 9px;
		margin-bottom: 25px;
	}

	.sidebar-content {
		margin-top: 34px;
	}

	.sidebar-mailing {
		margin-top: 40px;
	}

	section.sidebar-categories {
		margin-top: 37px;
	}

	.sidebar-categories h3.sidebar-header-title::after {
		margin-bottom: 4px;
	}

	input.search,input.subscribe-submit, button.subscribe-button {
		width: 100%;
	}

	button.subscribe-button {
		margin-bottom: 4px;
	}

	form.subscribe-form {
		padding-top: 0;
	}

	.posts {
		width: 100%;
	}

	.post {
		flex-direction: column;
	}

	.post-category-container {
		margin-bottom: 5px;
	}

	div.publish-info {
		line-height: 0;
		margin-top: 29px;
	}

	p.post-text {
		font-size: 14px;
		line-height: 20px;
	}
	
	.post-image {
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		max-width: 330px;
		max-height: 254px;
	}

	.post:nth-child(n+2) {
		margin-top: 34px;
	}

	.post-article {
		border-bottom: 3px solid #eeeeee;
		padding-bottom: 7px;
	}

	.post-header {
		margin: 11px 0 23px;
	
	}

	.post-title {
		font-size: 16px;
		line-height: 20px;
	}

	.tags-list {
		line-height: 10px;
	}

	.shop-header-title {
		margin-bottom: 41px;
		font-size: 16px;
	}

	div.shop-wrapper {
		flex-wrap: wrap;
		max-width: 360px;
		justify-content: center;
	}

	.shop-card-title {		
		font-size: 17px;
	}

	.shop-card {
		padding: 46px 24px 24px 19px;
    	top: -36px;
	}

	.shop-items {
		max-width: 334px;
	}

	.footer {
		margin-top: 10px;
	}

	.socials-container {
		width: calc((698/768)*100%);
		padding-top: 29px;
		padding-bottom: 25px;
	}

	a.copyright {
		margin: 47px auto 41px auto;
	}
}


body {
margin: 0;
}

.page {
font-family: Open Sans, sans-serif;
}


/*POPUP*/


.popup {
	display: none;
	position: absolute;
	min-width: 100vw;
	min-height: 100vh;
}

.popup-window {
	box-sizing: border-box;
	position: fixed;
	margin: auto;	
	margin: auto;
	background-color: #ffffff;
	background-size: cover;
	z-index: 1000;
}

.popup::after {
	content: "";
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	position: fixed;
	background-color: #000000;
	background-size: cover;
	opacity: 0.6;
}

.popup-x {
	position: absolute;		
}

.popup-header {
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
}

.popup-header::after {
	content: "";
	display: block;
	margin-left: auto;
	margin-right: auto;
	background-color: #e1d9bd;
}

.answer-select {
	background-image: url(../svg/form-arrows.svg);
	background-position: right 15px center;
	background-color: #f4f7f6;	
	background-repeat: no-repeat;
	border: none;
	opacity: 0.54;
	appearance: none;
	outline: none;
}

.radio {
	appearance: none;
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	margin: 0;
}

.radio-text::before {
	content: "";
	display: inline-block;
	background-image: url(../svg/form-empty-circle.svg);
	background-repeat: no-repeat;
	background-position: center center;
	vertical-align: middle;
}

.radio:checked~.radio-text::before {
	background-image: url(../svg/form-circle.svg);
}

.offer-form {
	margin-top: 12px;
}

.offer {
	box-sizing: border-box;
	width: 330px;
	height: 130px;
	background-color: #f4f7f6;
	opacity: 0.54;
	border: none;
	padding-left: 20px;	
	margin-top: 8px;
	outline: none;
}

.send-button {
	font-family: 'Open Sans';
	font-size: 14px;
	width: 100%;
	height: 48px;
	color: #ffffff;
	background-color: #b59f5b;
	background-size: cover;
	border: none;
	text-transform: uppercase;
	margin-top: 28px;
}

/*HEADER*/


.header {
	width: 100%;
	position: relative;
	background-repeat: no-repeat;
	background-color: #999999;
	text-transform: uppercase;

}

.header::after {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	opacity: 0.6;

	background-color: #0f0d0e;
	background-size: cover;
}

.top-head {
	position: relative;
	margin-left: auto;
	margin-right: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;

	z-index: 5;
}

.nav-menu-list {
	padding-left: 0;
	margin-bottom: 0;
	margin-top: 0;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	list-style-type: none;

	font-size: 13px;
}

.menu-position:nth-child(n+2) {
	margin-left: 35px;
}

.menu-position:hover {
	text-decoration: underline;
}

.menu-link {
	color: #ffffff;
	text-decoration: none;
}

.page-description-container {
	display: block;
	margin-left: auto;
	margin-right: auto;

}

.page-description {
	font-weight: bold;
	margin-top: 0;
	position: relative;
	text-align: center;
	color: #ffffff;
	z-index: 310;
}

/*MAIN-TRENDS*/

.trends {
	margin-left: auto;
	margin-right: auto;
}

.trends-posts {
	display: flex;
	justify-content: space-between;
	margin-left: auto;
	margin-top: auto;
	
}

.sections-header-title {	
	line-height: 29px;
	font-weight: bold;
	text-align: center; 
	text-transform: uppercase;
}

.sections-header-title::after {
	content: "";
	display: block;
	margin-top: 6px;
	margin-left: auto;
	margin-right: auto;
	height: 3px;
	width: 66px;
	background-color: #e1d9bd;
	}

.trends-post {
	display: flex;
	position: relative;
}


.trends-post::after {	
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0.6;

	background-color: #0f0d0e;
}


.trends-post-image {
	width: 100%;
}

.trends-post-container {
	position: absolute;
	z-index: 5;
}

.trends-category {
	font-size: 14px;
	font-weight: bold;
	font-family: "Open Sans";
	text-decoration: none;
	text-transform: uppercase;
	color: #b59f5b;
}

.trends-category:hover {
	text-decoration: underline;
}

.trends-post-title {
	margin: 0;
	font-weight: bold;
	font-family: "Open Sans";
	text-transform: uppercase;
	line-height: 24px;
	text-decoration: none;
	color: #ffffff;
}

.trends-post-title:hover {
	color: #b59f5b;
}

/*MAIN CONTENT*/

.content {
	box-sizing: border-box;
	display: flex;
	margin-left: auto; 
	margin-right: auto;
	justify-content: space-between;
}

.posts {
	box-sizing: border-box;
	float: right;
	text-decoration: none;
}

.post {
	display: flex;
}

.post-article {
	display: block;
	text-align: left;
	box-sizing: border-box;	
}

.post-category-container {
	padding-top: 0;
}

.post-category {
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	color: #b59f5b;
	text-decoration: none;
}

.post-category:nth-child(n+2) {
margin-left: 15px;
}

.post-category:hover {
	text-decoration: underline;
}

.article-title {
	margin: 0;
}

.post-title {
	display: block;
	color: black;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	}

.post-title:hover {
	color: #b59f5b;
}

.publish-info {
	margin-top: 18px;
	font-size: 12px;
	line-height: 40px;
}
.pubdate {
	color: #888888;
}

.pubauthor {
	margin-left: 10px;
	font-weight: bold;
	color: #000000;
}

.post-text {
	font-size: 15px;
	line-height: 22px;
	margin-top: 0;
}

/*MAIN-SIDEBAR*/

.sidebar {
	display: block;
	text-align: left;
	box-sizing: border-box;
	width: 270px;
}

.sidebar-header {
	position: relative;
	margin-top: 0;
	text-align: center;
	color: black;
}

.sidebar-header-title {
	margin: 0;
	font-size: 14px;
	font-weight: bold;
	text-align: center; 
	text-transform: uppercase;
}

.sidebar-header-title::after {
	content: "";
	display: block;
	margin-top: 14px;
	margin-left: auto;
	margin-right: auto;
	height: 3px;
	width: 66px;
	background-color: #e1d9bd;
}

.sidebar-news {
	display: flex;
	box-sizing: border-box;
}

.sidebar-news:nth-child(n+2) {
	margin-top: 21px;
}

.sidebar-post-image {
	width: 70px;
	margin-right: 18px;
}

.sidebar-posts-title {
	margin-top: 0;
	margin-bottom: 0;
	line-height: 18px;
	font-size: 14px;
}

.pubdate-sidebar-post {
	display: block;
	font-size: 12px;
	line-height: 18px;
	color: #000000;
	opacity: 0.54;
	}

.sidebar-post-title {
	display: block;
	font-size: 14px;
	font-weight: bold;
	line-height: 18px;
	text-decoration: none;
	text-transform: uppercase;
	color: black;
}

.search-form {
	position: relative;
	margin-top: 64px;
}

.search-label {
	cursor: default;
}

.search {
	box-sizing: border-box;
	background-color: #f4f7f6;
	width: 270px;
	height: 48px;
	padding-left: 20px;
	padding-right: 50px;
	border-style: none;
	font-size: 13px;
	color: #a2a4a3;
	opacity: 0.54;
}

.search-form-hint {
	width: 1px;
	height: 1px;
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
}

.search:focus {
	color: black;
}

.search-button {
	width: 48px;
	height: 48px;
	position: absolute;
	border-style: none;
	top: 0;
	right: 0;
	background-image: url(../svg/search.svg);
	background-color: #b59f5b;
	background-size: 18px;
	background-repeat: no-repeat;
	background-position: center center;
}

.search-button:hover {
	border-style: solid;
	border-color: #b59f5b;
	background-color: #bfa760;
}

.subscribe-form {
	padding-top: 20px;
}

.subscribe-submit {
	box-sizing: border-box;
	background-color: #f4f7f6;
	background-size: cover;
	width: 270px;
	height: 48px;
	padding-left: 20px;
	padding-right: 20px;
	border-style: none;
	font-size: 13px;
	color: #a2a4a3;
	opacity: 0.54;
}

.subscribe-submit:focus {
	color: black;
}

.subscribe-button:hover {
	border-style: solid;
	border-color: #b59f5b;
	background-color: #bfa760;
}

.subscribe-form-hint {
	width: 1px;
	height: 1px;
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
}

.subscribe-button {
	font-size: 14px;
	font-weight: bold;
	color: white;
	text-transform: uppercase;
	margin-top: 18px;
	width: 270px;
	height: 48px;
	border-style: none;
	background-color: #b59f5b;
	background-size: 18px;
	background-repeat: no-repeat;
	background-position: center center;
}

.tags {
	display: flex;
	flex-wrap: wrap;
	margin-top: 13px;
	margin-bottom: 0;
	justify-content: flex-start;
	font-size: 12px;
	line-height: 14px;
	font-weight: bold;;
	text-transform: uppercase;
	list-style: none;
	padding-left: 0;
}

.tags-link {
	display: block;
	padding: 7px 13px;
	margin: 5px;
	outline: #eeeeee solid 3px;
	text-decoration: none;
	color: #0f0d0e;
}

.tags-link:hover {
	color: #b59f5b;
}

.sidebar-categories {
	margin-top: 50px;
}

.category {
	margin-top: 0;
	padding-top: 8px;
	font-size: 14px;
	font-weight: bold;
	line-height: 46px;
	list-style-type: none;
	padding-left: 0;
}

.category-list {
border-bottom: #eeeeee solid 1px;
}

.category-link {
	color: #000000;
	text-align: left;
	text-decoration: none;
}

.category-link:hover {
	color: #b59f5b;
}

.category-number {
	position: absolute;
	padding-left: 4px;
	font-size: 12px;
	line-height: 36.82px;
	color: #b59f5b;
}

/*SHOP*/

.shop-wrapper {
	justify-content: space-between;
	display:flex;
	margin-left: auto;
	margin-right: auto;
	box-sizing: border-box;
}

.shop-header-title {
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

.shop-items {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.shop-card {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;	
	flex: auto;
	position: relative;
	border: 3px solid #d3c59d;	
}

.shop-about {
	font-size: 15px;
	line-height: 28px;
}

.shop-card-image {
	max-width: 300px;
}

.shop-card-title {
	text-transform: uppercase;
	text-decoration: none;
	color: #000000;
	font-weight: bold;
	margin: 0;
}

.shop-card-description {
	font-size: 15px;
	line-height: 22px;
	margin: 0 0 23px 0;
}

.shop-card-link {
	color: #b59f5b;
	text-decoration: none;
}

.shop-card-link:hover {
	font-weight: bold;
	text-decoration: underline;
}

.shop-purchase {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
}

.prices {
	display: flex;
	flex-direction: column;
	justify-content:flex-end;
	height: 44px;
}

.shop-price-sale {
	font-size: 14px;	
	text-decoration: line-through;
	font-weight: 700;
	margin: 0;
}

.shop-price {
	font-weight: bold;
	font-size: 20px;
	text-transform: uppercase;
	margin: 0;
}

.buy-button {
	border: solid 2px #b59f5b;
	width: 140px;
	height: 48px;
	background-color: #b59f5b;
	color: #ffffff;
	text-align: center;
	text-transform: uppercase;
}
.buy-button:hover {
	border-style: solid;
	border-color: #b59f5b;
	background-color: #bfa760;
}



/*FOOTER*/

.socials-container {
	background-color: #f4f7f6;
	margin-left: auto;
	margin-right: auto;
}

.socials-list {
	display: flex;
	list-style-type: none;
	justify-content: center;
	padding: 0;
	margin:  0;
}

.social:nth-child(n + 2) {
	margin-left: 28px;
}

.social-link  {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	background-repeat: no-repeat;
	background-size: 20px;
	background-position: center center;
	text-decoration: none;
}

.social-link-twitter {
	background-image: url(../svg/004-twitter.svg);
}

.social-link-pinterest {
	background-image: url(../svg/001-pinterest.svg);
}

.social-link-facebook {
	background-image: url(../svg/002-facebook-logo.svg);
}

.social-link-instagram {
	background-image: url(../svg/005-instagram.svg);
}

.social-link-tumblr {
	background-image: url(../svg//003-tumblr.svg);
}

.social-name {
	position: absolute;
	width: 1px;
	height: 1px;
	clip: rect(1px 1px 1px 1px);
}

.copyright {
	display: block;
	font-weight: bold;
	font-size: 12px;
	color: #999999;
	text-decoration: none;
	text-align: center;
	margin: 72px auto 41px auto;
}
